body {
    max-width: 1000px;
    font-size: 14px;
    /* font-family: "Arabic Typesetting"; */
}


button {
    width: 80px;
    height: 20px;
    font-size: 12px;
}

section {
    display: block;
    width: 300px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    clear: both;
}

ul {
    padding: 0;
}

a, a:visited {
    color: rgb(0, 119, 204);
    font-size: 12px;
    text-decoration: none;
    user-select: none;
}

a:hover {
    /*color: #27a201;*/
    font-weight: bold;
}

.club-information-container span {
    display: block;
}

.club-name-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.club-position-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

/* .nearest-fixtures-container {
					position: relative;
			float: left;
			margin: 0 auto;
		} */

.club-name-container {
    width: 140px;
}

.club-position-container {
    width: 100px;
}

.club-position {
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 56px;
    color: green;
    margin-top: 7px;
}

.links-list, .links-list-item {
    display: block;
}

.links-list {
    margin: 0 auto;
}

.nearest-fixtures-container, .league-snippet-container, .links-container {
    clear: both;
}

.unobtrusive-header {
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    user-select: none;
}

.club-name {
    margin: 5px 0 5px 0;
    font-weight: bold;
}

table {
    font-weight: normal;
}

td {
    text-align: left;
}

.win {
    color: #7ca541;
}

.loss {
    color: #d51d2a;
}

.report-match-container {
    display: block;
    text-align: center;
}

    .report-match-container img {
        margin-bottom: -2px;
    }

.contact-manager-link {
    display: block;
    background: url(images/envelope.svg) 0 no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.fixture-number {
    width: 38px;
    font-size: 12px;
}

table {
    padding: 0 9px;
    border-spacing: 0;
}

.fixtures-table td {
    padding: 3px;
}

.fixture-opponent-name {
    width: 142px;
}

.fixture-number-cell {
    border-right: 1px solid #cccccc;
}

.fixture-result-container {
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
}

.home-away {
    text-align: center;
    /*padding: 0px 2px;*/
}

.my-club-name {
    font-weight: bold;
}

table img {
    /*width: 14px !important;
    height: 14px !important;*/
    vertical-align: bottom;
}

.tournament-table td {
    padding: 2px;
}

.tournament-table span {
    display: inline-block;
}

.table-position {
    padding-right: 5px;
}

.table-club-name {
    margin-left: 3px;
}

.table-games-cell {
    border-right: 1px solid #cccccc;
}

.table-club-name {
    width: 168px;
}

.tournament-table .table-games {
    padding-right: 5px;
}

.tournament-table .table-points {
    padding-left: 5px;
}

.highlighted-team {
    font-weight: bold;
    color: rgb(17, 57, 210);
}

label {
    display: block;
}

.toggle-schedule {
    margin-top: -2px;
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.5;
    background: url(images/down.svg) 0 0 no-repeat;
    background-size: contain;
    /*color: rgb(0, 119, 204);*/
}

.full-calendar .toggle-schedule {
    background: url(images/up.svg) 0 0 no-repeat;
    background-size: contain;
}

.toggle-schedule:hover {
    background: url(images/down-blue.svg) 0 0 no-repeat;
    background-size: contain;
    opacity: 1;
    border-radius: 50%;
}

.full-calendar .toggle-schedule:hover {
    background: url(images/up-blue.svg) 0 0 no-repeat;
    background-size: contain;
}

.nearest-fixtures-header {
    cursor: pointer;
}

.nearest-fixtures-header:hover {
    color: rgb(0, 119, 204);
}

    .nearest-fixtures-header:hover .toggle-schedule {
        background: url(images/down-blue.svg) 0 0 no-repeat;
        background-size: contain;
        opacity: 1;
        border-radius: 50%;
    }

    .nearest-fixtures-header:hover.full-calendar .toggle-schedule {
        background: url(images/up-blue.svg) 0 0 no-repeat;
        background-size: contain;
    }

.club-selection-container {
    display: none;
}

.selection-container {
    margin-bottom: 20px;
}

    .selection-container select {
        width: 210px;
    }

#club-confirmation {
    margin-bottom: 15px;
}

.disabled {
    opacity: 0.5;
}

.home-link {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: url(images/home.svg) 0 no-repeat;
    background-size: contain;
    top: 15px;
    left: 30px;
    opacity: 0.7;
}

.home-link:hover {
    opacity: 1;
}

.inline-link:not(:last-child) {
    border-right: 1px solid rgb(0, 119, 204);
    padding-right: 5px;
}

.contact-manager-link.disabled {
    cursor: default;
}

.error-section {
    display: none;
}

.error-description {
    color: red;
    font-size: 12px;
}

#reset-btn {
    width: 150px;
}