  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="popup.css">
    </head>
    <body>
	  <section class="club-container">
        <div style="/*display: none*/">
            <div class="league-selection-container">
                <label for="league-selector">Выберите лигу:</label>
                <select id="league-selector">
                    <option>Serie A</option>
                    <option>Ligue 1</option>
                    <!-- options generated via script -->
                </select>
            </div>
            <div class="club-selection-container">
                <label for="club-selector">Выберите клуб:</label>
                <select id="club-selector">
                    <option>Cagliari Calcio</option>
                    <option>SS Lazio</option>
                    <!-- options generated via script -->
                </select>
            </div>
            <button id="club-confirmation">OK</button>
        </div>
		<div class="club-information-container">
			<div class="club-name-container">
				<span class="club-name-header unobtrusive-header">Клуб</span>
				<span class="club-name">Cagliari Calcio</span>
					<div class="club-logo">
						<img id="header-logo" src="http://lmo.online.gamma.mtw.ru/img/teams/small/Cagliari%20Calcio.png" width="40" height="40" />
					</div>
				<button class="change-club-btn">Выбрать...</button>
			</div>
			<div class="club-position-container">
				<span class="club-position-header unobtrusive-header">Позиция в лиге</span>
				<span class="club-position"></span>
			</div>			
		</div>
	  </section>
	  <section class="fixtures-container">
			<div class="nearest-fixtures-container">
				<span class="nearest-fixtures-header unobtrusive-header">Ближайшие матчи</span>
				<table class="nearest-fixtures-table">
					<tbody>
						<!-- generate by script -->
						<tr>
							<td>
								<span class="home-away">д</span>
							</td>
							<td>
								<img src="http://lmo.online.gamma.mtw.ru/img/teams/small/Torino%20FC.png" width="20" height="20" />
							</td>
							<td>
								<span>Torino FC</span>
							</td>
							<td class="fixture-result-container">
								<span class="draw">0:0</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="home-away">г</span>
							</td>
							<td>
								<img src="http://lmo.online.gamma.mtw.ru/img/teams/small/AC%20Milan.png" width="24" height="24" />
							</td>
							<td>
								<span>AC Milan</span>
							</td>
							<td class="fixture-result-container">
								<span class="win">1:0</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="home-away">г</span>
							</td>
							<td>
								<img src="http://lmo.online.gamma.mtw.ru/img/teams/small/SSC%20Napoli.png" width="24" height="24" />
							</td>
							<td>
								<span>SSC Napoli</span>
							</td>
							<td class="fixture-result-container">
								<span class="loss">0:1</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="home-away">д</span>
							</td>
							<td>
								<img src="http://lmo.online.gamma.mtw.ru/img/teams/small/Juventus%20FC.png" width="24" height="24" />
							</td>
							<td>
								<span>Juventus FC</span>
							</td>
							<td class="fixture-result-container">
								<span class="upcoming">-:-</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="home-away">г</span>
							</td>
							<td>
								<img src="http://lmo.online.gamma.mtw.ru/img/teams/small/Juventus%20FC.png" width="24" height="24" />
							</td>
							<td>
								<span>Juventus FC</span>
							</td>
							<td class="fixture-result-container">
								<span class="upcoming">-:-</span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="home-away">д</span>
							</td>
							<td>
								<img src="http://lmo.online.gamma.mtw.ru/img/teams/small/Juventus%20FC.png" width="24" height="24" />
							</td>
							<td>
								<span>Juventus FC</span>
							</td>
							<td class="fixture-result-container">
								<span class="upcoming">-:-</span>
							</td>
						</tr>
					</tbody>
				</table>
                <div class="report-match-container">
                    <img src="images/write.svg" width="15" height="15"/>
                    <a id="report-match-link" href="" target="_blank">Оформить матч</a>
                </div>
			</div>
	  </section>
	  <section class="league-snippet-container">
		<div class="tournament-table-snippet-container">
			<span class="tournament-table-header unobtrusive-header">Таблица</span>
			<table class="tournament-table">
				<tbody>
					<!-- generate by script -->
					<tr>
                        <td>
                            <span class="table-position">1</span>
                        </td>
                        <td>
						    <img class="table-club-logo" src="http://lmo.online.gamma.mtw.ru/img/teams/small/Cagliari%20Calcio.png" />
                        </td>
                        <td>
                            <span class="table-club-name">Cagliari Calcio</span>
                        </td>
                        <td>
                            <span class="table-games">33</span>
                        </td>
                        <td>
                            <span class="table-points">33</span>
                        </td>
					</tr>
				</tbody>
			</table>
            <div>
                <a id="tournament-table-link" href="" target="_blank">Полная таблица</a>
            </div>
		</div>
	  </section>	  
	  <section class="links-container">
	    <ul class="links-list">
            <li class="links-list-item">
                <a id="coaches-list-link" href="" target="_blank">Список тренеров лиги</a>
            </li>
            <li class="links-list-item">
                <a id="rules-link" href="" target="_blank">Регламент</a>
            </li>
            <li class="links-list-item">
                <a id="faq-link" href="" target="_blank">FAQ</a>
            </li>
            <li class="links-list-item">
                <a id="lmo-link" href="" target="_blank">Все лиги</a>
            </li>
            <!--<li class="links-list-item">
                <a id="tournament-table-link" href="" target="_blank">Турнирная таблица</a>
            </li>-->
            <!--<li class="links-list-item">
                
            </li>-->			
		</ul>
	  </section>
      <script src="popup.js" charset="utf-8"></script>
    </body>
  </html>